:root {
  --headerHeight: 8rem;
}

.App {
  max-height: 100%;
  overflow: hidden;
}

.title {
  height: 4rem;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* HOME VIEW */
.home {
  display: grid;
  max-height: calc(100vh - var(--headerHeight));
  grid-auto-flow: row;
  grid-template-rows: 2fr 1fr;
  padding-bottom: 2rem;
  grid-row-gap: 1rem;
  box-sizing: border-box;
}

/* HEADER */
.header {
  height: var(--headerHeight);
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.header__logo__image {
  height: 50px;
  margin-left: 10px;
}

.header__message {
  font-size: 1.6rem;
}

/* DATA TABLES */
.data__table__container {
  display: grid;
  grid-template-rows: min-content 1fr;
  max-height: 100%;
  overflow: hidden;
  padding: 0 3rem;
}

.data__table__wrapper {
  max-height: 100%;
  overflow: auto;
  border: 1px solid gray;
  border-top: none;
}

.data__table__wrapper--empty {
  border: none;
}

.data__table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0;
}

.data__table th {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  position: sticky;
  top: 0;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: white;
  color: gray;
  font-weight: bold;
  white-space: nowrap;
  z-index: 1;
}

.data__table td,
.data__table__message {
  font-size: 1.4rem;
  color: black;
}

.data__table td,
.data__table th {
  padding: 6px;
  text-align: left;
}

.data__table__row:hover {
  background-color: gray;
}

.data__table__row:hover td {
  color: white;
}

.table__cell__link {
  width: 100%;
  display: flex;
  text-decoration: none;
  color: inherit;
}

.table__cell__link:hover {
  text-decoration: underline;
}

.data__table__row--inactive {
  opacity: 0.5;
}

/* PROFILE VIEW */
.profile {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  padding: 0 3rem;
}

.profile__header {
  grid-column: 1 / span 2;
  height: 10rem;
  display: flex;
  align-items: center;
}

.profile__nav__item {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}

.profile__nav__item:hover {
  text-decoration: underline;
}

.profile__nav__item__icon {
  margin-right: 5px;
}

.profile__nav__item__label {
  font-weight: bold;
}

/* OBJECT PROFILE */

/* profile table */
.profile__table {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-row-gap: 1rem;
  font-size: 1.4rem;
}
.profile__table__row {
  display: grid;
  grid-template-columns: 100px 250px;
  grid-gap: 1rem;
  align-items: end;
}
.profile__table__label {
  font-weight: bold;
}

@media (max-width: 1140px) {
  /* HEADER */
  .header {
    padding: 0 1rem;
  }
  /* DATA TABLES */
  .profile .data__table__container {
    padding: 0;
  }
  .data__table__container {
    padding: 0 1rem;
  }

  /* PROFILE */
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    height: 100%;
    padding: 0 1rem;
    grid-template-areas:
      "header"
      "profile"
      "table";
  }
  .profile__header {
    height: 5rem;
  }
  .profile__header {
    grid-area: header;
  }
  .profile__table {
    grid-area: profile;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
  }
  .profile__table__row {
    grid-template-columns: auto 1fr;
  }
}
